* {
  margin: 0;
  padding: 0;
}

.container {
  text-align: center;
  display: grid;
  grid: 2fr 1fr auto 1fr / 1fr 4fr;
  grid-template-areas: "header header"
              "sidebar nav"
              "sidebar article"
              "footer footer";
  gap: 4px;
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
}

.header {
  background-color: #393f4d;
  grid-area: header;
  display: grid;
  grid: auto / 1fr 2fr;
  grid-template-areas: "logo menu";
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

.menu {
  grid-area: menu;
}

.logo {
  grid-area: logo;
  justify-self: left;
}

.menu ul,
.menu li {
  font-size: 16px;
}

.menu ul,
.nav ul {
  list-style: none;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(auto-fit, 1fr);
  grid-template-rows: auto;
  justify-content: space-around;
}

.sidebar {
  background-color: #C50208;
  grid-area: sidebar;
  display: grid;
  grid: repeat(auto-fit, 1fr) / auto;
  gap: 50px;
}

.sidebar .photo {
  background-color: white;
  color: black;
  font-size: 12px;
  font-weight: normal;
  border-radius: 10px;
}


.sidebar .side-content {
  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: normal;
}

.nav {
  background-color: #C50208;
  grid-area: nav;
  display: grid;
  align-content: center;
}

.nav ul li {
  font-size: 16px;
  text-transform: uppercase;
}

.article {
  background-color: #bccbde;
  grid-area: article;
  display: grid;
  grid: auto-flow / repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
  overflow: auto;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

.article .card {
  background-color: #FFFFFF;
  color: black;
  text-align: center;
  box-sizing: border-box;
  height: 200px;
}

.card p {
  color: black;
  font-weight: normal;
  font-size: 14px;
}

.card .title {
  font-size: 18px;
  text-align: center;
}

.footer {
  background-color: #393f4d;
  grid-area: footer;
}

.footer p {
  font-size: 13px;
  font-weight: normal;
}